.slds-card__body {
    margin: 1rem;
}

@media 
    only screen and (max-width: 800px),
    only screen and (max-device-width : 1000px) and (-webkit-device-pixel-ratio : 3)
    {
        .slds-card__body {
            margin: 0;
            padding: 0;
        }
}